* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #84e296;
  text-align: center;
}

#new-btn {
  padding: 2vmin;
  background-color: #32373b;
  color: beige;
  font-size: 2.5vmin;
  border-radius: 1rem;
  margin-top: 2rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 7vmin;
  color: #c83e4d;
  background-color: beige;
  border: 1px solid black;
}

#reset-btn {
  padding: 2vmin;
  background-color: #32373b;
  color: beige;
  font-size: 2.5vmin;
  border-radius: 1rem;
}

#msg{
  color: beige;
  font-size: 8vmin;

}
.msg-container{
  height: 20vmin;
}
.hide{
  display: none;
}
.msg-container{
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
